<div class="page-layout carded fullwidth inner-scroll">

  <div class="top-bg accent"></div>



  <div class="center">

    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">


      <div fxLayout="row" fxLayoutAlign="start center">

        <div fxLayout="column" fxLayoutAlign="start start">
          <div class="h2">
            <mat-label>{{ 'SCHOOL.ADDSCHOOL' | translate}}</mat-label>
          </div>
        </div>
      </div>


    </div>



    <div class="content-card">
      <div class="content mt-20" fusePerfectScrollbar>
        <form [formGroup]="schoolsForm">

          <div fxLayout="column" fxLayout.gt-xs="row wrap" fxFlex="100" fxFlex.gt-xs="100">
            <div fxLayout="row" fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="40" class="pl-20 pr-16">
              <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                  click to browse file or drop file here
                  <img height="30%" width="30%" src="https://image.flaticon.com/icons/svg/685/685686.svg"
                    (click)="openFileSelector($event)">
                </ng-template>
              </ngx-file-drop>
            </div>
            <div fxLayout="column" fxLayout.gt-xs="row wrap" fxFlex="50" fxFlex.gt-xs="50">
              <div fxLayout="row" fxLayoutAlign="center" fxFlex fxFlex.gt-xs="100" class="pl-20 pr-16">
                <mat-form-field appearance="outline" fxFlex>
                  <mat-label>{{ 'SCHOOL.SCHOOLNAME' | translate}}</mat-label>
                  <input name="schoolname" formControlName="schoolname" matInput>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="center" fxFlex fxFlex.gt-xs="50" class="pl-20 pr-16">
                <mat-form-field appearance="outline" fxFlex>
                  <mat-label>{{ 'SCHOOL.SUBDISTRIC' | translate}}</mat-label>
                  <input name="subdistric" formControlName="subdistric" matInput>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="center" fxFlex fxFlex.gt-xs="50" class="pl-20 pr-16">
                <mat-form-field appearance="outline" fxFlex>
                  <mat-label>{{ 'SCHOOL.DISTRIC' | translate}}</mat-label>
                  <input name="distric" formControlName="distric" matInput>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="center" fxFlex fxFlex.gt-xs="100" class="pl-20 pr-16">
                <mat-form-field appearance="outline" fxFlex>
                  <mat-label>{{ 'SCHOOL.PROVINCE' | translate}}</mat-label>
                  <input name="province" formControlName="province" matInput>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>{{ 'SCHOOL.UNDER' | translate}}</mat-label>
                <input name="under" formControlName="under" matInput>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>{{ 'SCHOOL.AREA' | translate}}</mat-label>
                <input name="area" formControlName="area" matInput>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>{{ 'SCHOOL.REGISTRAR' | translate}}</mat-label>
                <input name="registrar" formControlName="registrar" matInput>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>{{ 'SCHOOL.POSITION' | translate}}</mat-label>
                <input name="position" formControlName="position" matInput>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>{{ 'SCHOOL.DIRECTOR' | translate}}</mat-label>
                <input name="direction" formControlName="direction" matInput>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>{{ 'SCHOOL.POSITION2' | translate}}</mat-label>
                <input name="positions" formControlName="positions" matInput>
              </mat-form-field>
            </div>

          </div>
        </form>

      </div>


      <div fxLayout="row">

        <div class="pt-20 pb-20" fxLayoutAlign="center" fxFlex="100">
          <button fxFlex="25" mat-stroked-button color="accent" [disabled]="schoolsForm.invalid" aria-label="SAVE"
            (click)="onSaveSchool()">
            <mat-label>{{ 'SCHOOL.SAVEBTN' | translate}}</mat-label>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>