<div fxLayout="column" fxLayout.gt-sm="row wrap">

  <div fxLayoutAlign="center" fxLayout="row">
    <h2>{{ 'SUBJECTDIALOG.ADDCOURSE' | translate}}</h2>
  </div>

  <div fxLayout="row" fxFlex="100">
    <form [formGroup]="subjectForm" fxFlex="100">
      <div fxLayout="column" fxFlex="100">
        <div fxLayoutAlign="center" fxFlex="100">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'SUBJECTDIALOG.SUBJECT' | translate}}</mat-label>
            <!-- <mat-icon matSuffix class="secondary-text">assignment</mat-icon> -->
            <input name="code" formControlName="code" matInput>
          </mat-form-field>
        </div>
        <div fxLayoutAlign="center" fxFlex="100">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'SUBJECTDIALOG.SUBJECTSNAME' | translate}}</mat-label>
            <!-- <mat-icon matSuffix class="secondary-text">assignment</mat-icon> -->
            <input name="subject" formControlName="subject" matInput>
          </mat-form-field>
        </div>
        <div fxFlex="100">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'SUBJECTDIALOG.CATEGORY' | translate}}</mat-label>
            <!-- <mat-icon matSuffix class="secondary-text">assignment</mat-icon> -->
            <!-- <input name="course_type" formControlName="course_type" matInput> -->
            <mat-select name="course_type" formControlName="course_type">
              <mat-option value="">{{ 'SUBJECTDIALOG.SELECTCATEGORY' | translate}}</mat-option>
              <mat-option value="พื้นฐาน">{{ 'SUBJECTDIALOG.BASIC' | translate}}</mat-option>
              <mat-option value="เพิ่มเติม">{{ 'SUBJECTDIALOG.ADVANCE' | translate}}</mat-option>
              <mat-option value="กิจกรรม">{{ 'SUBJECTDIALOG.ACTIVITY' | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'SUBJECTDIALOG.STUDYTIME' | translate}}</mat-label>
            <!-- <mat-icon matSuffix class="secondary-text">access_time</mat-icon> -->
            <input type="number" name="hours" formControlName="hours" matInput>
          </mat-form-field>
        </div>
        <div fxFlex="100">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'SUBJECTDIALOG.WEIGHT' | translate}}</mat-label>
            <!-- <mat-icon matSuffix class="secondary-text">assignment</mat-icon> -->
            <input type="number" name="weight" formControlName="weight" matInput>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

  <div fxLayout="row" fxFlex="100">
  <div fxLayoutAlign="center"  fxFlex="50">
    <button mat-stroked-button color="warn" aria-label="ยกเลิก" (click)="onclose()">
        {{ 'SUBJECTDIALOG.CANCEL' | translate}}
    </button>
  </div>
  <div fxLayoutAlign="center" fxFlex="50">
    <button mat-stroked-button color="accent" aria-label="บันทึก" [disabled]="subjectForm.invalid" (click)="oncloseAdd()">
        {{ 'SUBJECTDIALOG.SAVE' | translate}}
    </button>
  </div>
</div>

</div>