<div fxLayout="column" fxLayout.gt-sm="row wrap">

  <div fxLayoutAlign="center" fxLayout="row">
    <h2>เพิ่มรายวิชา</h2>
  </div>

  <div fxLayout="row" fxFlex="100">
    <form [formGroup]="subjectForm" fxFlex="100">
      <div fxLayout="column" fxFlex="100">
        <div fxLayoutAlign="center" fxFlex="100">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>รหัสวิชา</mat-label>
            <!-- <mat-icon matSuffix class="secondary-text">assignment</mat-icon> -->
            <input name="code" formControlName="code" matInput>
          </mat-form-field>
        </div>
        <div fxLayoutAlign="center" fxFlex="100">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>ชื่อวิชา</mat-label>
            <!-- <mat-icon matSuffix class="secondary-text">assignment</mat-icon> -->
            <input name="subject" formControlName="subject" matInput>
          </mat-form-field>
        </div>
        <div fxFlex="100">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>ประเภท</mat-label>
            <!-- <mat-icon matSuffix class="secondary-text">assignment</mat-icon> -->
            <!-- <input name="course_type" formControlName="course_type" matInput> -->
            <mat-select name="course_type" formControlName="course_type">
              <mat-option value="">เลือกประเภท</mat-option>
              <mat-option value="พื้นฐาน">พื้นฐาน</mat-option>
              <mat-option value="เพิ่มเติม">เพิ่มเติม</mat-option>
              <mat-option value="กิจกรรม">กิจกรรม</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>เวลาเรียน</mat-label>
            <!-- <mat-icon matSuffix class="secondary-text">access_time</mat-icon> -->
            <input type="number" name="hours" formControlName="hours" matInput>
          </mat-form-field>
        </div>
        <div fxFlex="100">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>น้ำหนัก</mat-label>
            <!-- <mat-icon matSuffix class="secondary-text">assignment</mat-icon> -->
            <input type="number" name="weight" formControlName="weight" matInput>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

  <div fxLayout="row" fxFlex="100">
  <div fxLayoutAlign="center"  fxFlex="50">
    <button mat-stroked-button color="warn" aria-label="ยกเลิก" (click)="onclose()">
      ยกเลิก
    </button>
  </div>
  <div fxLayoutAlign="center" fxFlex="50">
    <button mat-stroked-button color="accent" aria-label="บันทึก" [disabled]="subjectForm.invalid" (click)="oncloseAdd()">
      บันทึก
    </button>
  </div>
</div>

</div>