<div fxLayout="column">
  <div fxlayOut="row" class="m-20">

    <button mat-icon-button class="mr-16" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>


    <label style="font-size: 20px"> {{ 'COURSESLIST.ACADEMIC' | translate}} {{courses[0] ? courses[0].year: ''}}</label>

  </div>
  <mat-tab-group>

    <mat-tab label="{{ 'COURSESLIST.ELEMENTARY' | translate}}">
      <div fxLayout="column" fxLayout.gt-sm="row wrap" fxFlex="100">
        <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-sm="33" class="p-20"
          *ngFor="let course of level1 | orderBy: order;">
          <app-course [list]="course">
          </app-course>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="{{ 'COURSESLIST.EARLY' | translate}}">
      <div fxLayout="column" fxLayout.gt-sm="row wrap" fxFlex="100">
        <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-sm="33" class="p-20"
          *ngFor="let course of level2 | orderBy: order;">
          <app-course [list]="course">
          </app-course>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="{{ 'COURSESLIST.SENIOR' | translate}}">
      <div fxLayout="column" fxLayout.gt-sm="row wrap" fxFlex="100">
        <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-sm="33" class="p-20"
          *ngFor="let course of level3 | orderBy: order;">
          <app-course [list]="course">
          </app-course>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>