<div fxLayout="column" fxLayout.gt-xs="row wrap" fxFlex="100" fxFlex.gt-xs="100">
  <div fxLayout="row" fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="40" (drop)="drop($event)" (dragover)="allowDrop($event)" class="dropzone">
    <label for="file-input">
      <p>
        <mat-icon>backup</mat-icon>
      </p>
      <p>คุณสามารถลากและปล่อยไฟล์ Excel ในนี้เพื่ออัพโหลด</p>
      <p>หรือ คลิ๊กเพื่อเลือกไฟล์ Excel จากไดเรกทอรีของท่าน</p>
      <input name="detectFiles" id="file-input" type="file" (change)="detectFiles($event)" accept=".xls,.xlsx" />
    </label>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="40" class="dowload-panal">
    <div style="text-align: center" class="mt-80">
      <h2>ดาวน์โหลดไฟล์ต้นแบบ</h2>
      <p>สนับสนุนการใช้งานเฉพาะไฟล์ excel เท่านั้น</p>
      <button mat-raised-button color="accent" (click)="download()">ดาวน์โหลด</button>
    </div>
  </div>
  <div *ngIf="summary" fxLayout="row" fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="100" class="dowload-panal" >
    <div style="text-align: center">
      <h2>ตรวจสอบข้อมูลจาก file ที่ท่านอัพโหลด</h2>
      <div>
        <table mat-table [dataSource]="summary" class="mat-elevation-z8" >

          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Year </th>
            <td mat-cell *matCellDef="let summary" style="text-align: center">{{summary.year}}</td>
          </ng-container>


          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Name </th>
            <td mat-cell *matCellDef="let summary" style="text-align: center"> {{summary.name}} </td>
          </ng-container>

          <ng-container matColumnDef="basic">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Basic </th>
            <td mat-cell *matCellDef="let summary" style="text-align: center"> {{summary.structures.basic}} </td>
          </ng-container>

          <ng-container matColumnDef="advance">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Advance </th>
            <td mat-cell *matCellDef="let summary" style="text-align: center"> {{summary.structures.advance}} </td>
          </ng-container>

          <ng-container matColumnDef="activity">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Activity </th>
            <td mat-cell *matCellDef="let summary" style="text-align: center"> {{summary.structures.activity}} </td>
          </ng-container>

          <ng-container matColumnDef="students">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Students </th>
            <td mat-cell *matCellDef="let summary" style="text-align: center"> {{summary.students}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <button mat-raised-button color="warn" class="btn" (click)="onCancle()">ยกเลิก</button>
      <button mat-raised-button color="accent" (click)="onSave()">บันทึก</button>
    </div>
  </div>
</div>

