<div id="students" class="page-layout carded fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>

  <div class="center">

    <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
      fxLayoutAlign.gt-xs="space-between center">

      <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <!-- <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" (click)="goBack()">
          arrow_back
        </mat-icon> -->
        <button mat-icon-button class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
          (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
          <span class="logo-text h1"
            [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{ 'STUDENTS.STUDENT' | translate}}</span>
        </button>

      </div>

      <div class="search-wrapper  ml-sm-32">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input #filter placeholder="Search for a student">
        </div>
      </div>

    </div>

    <div class="content-card">
      <mat-table #table [dataSource]="students" [@animateStagger]="{value:'50'}">

        <ng-container matColumnDef="seq">
          <mat-header-cell *matHeaderCellDef>{{ 'STUDENTS.NO' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let students; let i = index;">
            <p class="font-weight-600">{{i + 1}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="student_no">
          <mat-header-cell class="pl-20" *matHeaderCellDef>{{ 'STUDENTS.STUDENTID' | translate}}</mat-header-cell>
          <mat-cell class="pl-20" *matCellDef="let students">
            <p class="font-weight-600">{{students.student_no}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>{{ 'STUDENTS.NAME' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let students">
            {{students.title}} {{students.firstname}} {{students.lastname}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="citizenid">
          <mat-header-cell *matHeaderCellDef>{{ 'STUDENTS.CITIZENID' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let students">
            <p class="font-weight-600">
              {{students.citizenid}}
            </p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="buttons">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let students">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="EvaluationStudent(students)">
                <mat-icon>assignment</mat-icon>
                <span>{{ 'STUDENTS.STUDY' | translate}}</span>
              </button>
              <button mat-menu-item (click)="printpp1(students)">
                <mat-icon>assignment</mat-icon>
                <span>{{ 'STUDENTS.PP1' | translate}}</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let student; columns: displayedColumns;" class="student" matRipple>
        </mat-row>
      </mat-table>

      <mat-paginator class="mr-20" [length]="students.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</div>


<!-- ADD CONTACT BUTTON -->
<button mat-fab class="accent" id="add-contact-button" aria-label="add contact">
  <mat-icon (click)="onAdstudents()">person_add</mat-icon>
</button>
<!-- / ADD CONTACT BUTTON -->