<div class="page-layout carded fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-16" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2">
            Sold Out
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">
      <!-- CONTENT -->
      <div class="content mt-20" fusePerfectScrollbar>
        <form [formGroup]="studentForm">

          <div fxLayout="column" fxLayout.gt-xs="row wrap" fxFlex="100">

            <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>{{ 'STUDENTSFORMDIALOG.CAUSE' | translate}}</mat-label>
                <!-- <mat-icon matSuffix class="secondary-text">credit_card</mat-icon> -->
                <input name="cause" formControlName="cause"  matInput>
              </mat-form-field>
            </div>

            <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>{{ 'STUDENTSFORMDIALOG.ENDDATEOFAPPROVAL' | translate}}</mat-label>
                <input matInput [matDatepicker]="birthdayDatePicker" name="enddateofapproval"
                  formControlName="enddateofapproval">
                <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #birthdayDatePicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">

            </div>
          </div>
        </form>
      </div>
      <div fxLayout="row">
        <div class="pb-20" fxLayoutAlign="center" fxFlex="50">
          <button fxFlex="25" mat-stroked-button color="warn" (click)="onsoldoutClose()">
            CANCEL
          </button>
        </div>
        <div class="pb-20" fxLayoutAlign="center" fxFlex="50">
          <button fxFlex="25" mat-stroked-button color="accent" [disabled]="studentForm.invalid" aria-label="SAVE"
            (click)="matDialogRef.close(studentForm.getRawValue())">
            SAVE
          </button>
        </div>
      </div>
    </div>

  </div>