<div class="page-layout blank p-24" fusePerfectScrollbar>

  <!-- <h2>{{'STUDENTS.HELLO' | translate}}</h2> -->
  <!-- CONTENT -->
  <div class="content">

    <!-- CENTER -->
    <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>

      <!-- CONTENT -->
      <div class="content">
        <mat-table #table [dataSource]="students">

          <!-- Avatar Column -->
          <ng-container matColumnDef="avatar">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let student">
              <img class="avatar" *ngIf="student.avatar" [alt]="student.firstname" [alt]="student.lastname"
                [src]="student.avatar" />
            </mat-cell>
          </ng-container>

          <!-- prefix Column -->
          <ng-container matColumnDef="prefix">
            <mat-header-cell *matHeaderCellDef>คำนำหน้าชื่อ</mat-header-cell>
            <mat-cell *matCellDef="let student">
              <p class="text-truncate font-weight-600">{{student.prefix}}</p>
            </mat-cell>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="firstname">
            <mat-header-cell *matHeaderCellDef>ชื่อนักเรียน</mat-header-cell>
            <mat-cell *matCellDef="let student">
              <p class="text-truncate font-weight-600">{{student.firstname}} {{student.lastname}}</p>
            </mat-cell>
          </ng-container>

          <!-- StudentId Column -->
          <ng-container matColumnDef="studentid">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>รหัสนักเรียน</mat-header-cell>
            <mat-cell *matCellDef="let student" fxHide fxShow.gt-sm>
              <p class="studentid text-truncate">
                {{student.studentid}}
              </p>
            </mat-cell>
          </ng-container>

          <!-- Phone Column -->
          <ng-container matColumnDef="phonenumber">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>เบอร์โทรศัพท์</mat-header-cell>
            <mat-cell *matCellDef="let student" fxHide fxShow.gt-md>
              <p class="phone text-truncate">
                {{student.phonenumber}}
              </p>
            </mat-cell>
          </ng-container>

          <!-- Company Column -->
          <ng-container matColumnDef="company">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>Company</mat-header-cell>
            <mat-cell *matCellDef="let student" fxHide fxShow.gt-lg>
              <p class="company text-truncate">
                {{student.company}}
              </p>
            </mat-cell>
          </ng-container>

          <!-- Buttons Column -->
          <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let student">
              <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button aria-label="More">
                  <mat-icon class="secondary-text" (click)="onEditstudents(student)">more_vert</mat-icon>
                </button>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let student; columns: displayedColumns;" class="student" matRipple>
          </mat-row>
        </mat-table>
      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

  </div>
  <!-- / CONTENT-->
</div>
<!-- ADD CONTACT BUTTON -->
<button mat-fab class="accent" id="add-contact-button" aria-label="add contact">
  <mat-icon (click)="onAdstudents()">person_add</mat-icon>
</button>
<!-- / ADD CONTACT BUTTON -->