.list-header {
    height: 50px;
    min-height: 50px;
    padding: 0 8px 0 16px;
    border-bottom: 0.3px solid;
    background-color: white; 
}
.th-numbers{
    padding-left: 3%;
}
.th-4{
    padding-left: 6%;
}
.td-4{
    padding-left: 3%;
}
.th-12{
    padding-left: 15%;
}
.td-12{
    padding-left: 1%;
    text-align: center;
}
.th-8{
    padding-right: 8%;
}

.th-time{
    padding-left: 3%;
}
.td-time{
    padding-left: 4%;
}
.th-weight{
    padding-left: 3%;
}
.td-weight{
    padding-left: 4%;
}