<mat-card class="example-card" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ !students._id ? "Add New Student" : "Edit Student" }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="studentsForm">

      <div fxLayout="column" fxLayout.gt-sm="row wrap" fxFlex="100">
        <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-sm="40" class="pt-20 pl-20">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'STUDENTS.CLASS' | translate}}</mat-label>
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
            <mat-select name="class" formControlName="class">
              <mat-option *ngFor="let cls of class" [value]="cls.value">
                {{cls.viewValue}}
              </mat-option>

            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-sm="30" class="pt-20 pl-20">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'STUDENTS.ROOM' | translate}}</mat-label>
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
            <input name="room" formControlName="room" matInput>
          </mat-form-field>
        </div>

        <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-sm="30" class="pt-20 pl-20">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'STUDENTS.STUDENTID' | translate}}</mat-label>
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
            <input name="studentid" formControlName="studentid" matInput>
          </mat-form-field>
        </div>

        <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-sm="30" class="pt-20 pl-20">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'STUDENTS.PREFIX' | translate}}</mat-label>
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
            <mat-select name="prefix" formControlName="prefix">
              <mat-option *ngFor="let prefix of prefixs" [value]="prefix.value">
                {{prefix.viewValue}}
              </mat-option>

            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-sm="35" class="pt-20 pl-20">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'STUDENTS.FIRSTNAME' | translate}}</mat-label>
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
            <input name="firstname" formControlName="firstname" matInput>
          </mat-form-field>
        </div>

        <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-sm="35" class="pt-20 pl-20">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'STUDENTS.LASTNAME' | translate}}</mat-label>
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
            <input name="lastname" formControlName="lastname" matInput>
          </mat-form-field>
        </div>

        <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-sm="40" class="pt-20 pl-20">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'STUDENTS.IDENTIFICATIONNUMBER' | translate}}</mat-label>
            <mat-icon matSuffix class="secondary-text">work</mat-icon>
            <input name="identificationnumber" formControlName="identificationnumber" matInput>
          </mat-form-field>
        </div>

        <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-sm="30" class="pt-20 pl-20">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'STUDENTS.BIRTHDAY' | translate}}</mat-label>
            <input matInput [matDatepicker]="birthdayDatePicker1" name="birthday" formControlName="birthday">
            <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker1"></mat-datepicker-toggle>
            <mat-datepicker #birthdayDatePicker1></mat-datepicker>
          </mat-form-field>
        </div>

        <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-sm="30" class="pt-20 pl-20">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'STUDENTS.SEX' | translate}}</mat-label>
            <mat-icon matSuffix class="secondary-text">home</mat-icon>
            <mat-select name="sex" formControlName="sex">
              <mat-option *ngFor="let sex of sexs" [value]="sex.value">
                {{sex.viewValue}}
              </mat-option>

            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-sm="50" class="pt-20 pl-20">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'STUDENTS.FATHERFULLNAME' | translate}}</mat-label>
            <mat-icon matSuffix class="secondary-text">home</mat-icon>
            <input name="fatherfullname" formControlName="fatherfullname" matInput>
          </mat-form-field>
        </div>

        <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-sm="50" class="pt-20 pl-20">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'STUDENTS.MOTHERFULLNAME' | translate}}</mat-label>
            <mat-icon matSuffix class="secondary-text">home</mat-icon>
            <input name="motherfullname" formControlName="motherfullname" matInput>
          </mat-form-field>
        </div>

        <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-sm="50" class="pt-20 pl-20">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'STUDENTS.PHONENUMBER' | translate}}</mat-label>
            <mat-icon matSuffix class="secondary-text">home</mat-icon>
            <input name="phonenumber" formControlName="phonenumber" matInput>
          </mat-form-field>
        </div>

      </div>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
      <button  mat-button class="save-button"  (click)="onClose()">
        CANCEL
      </button>
      <button *ngIf="!students._id" mat-button class="save-button" [disabled]="studentsForm.invalid"
        aria-label="SAVE" (click)="onAddNew()">
        ADD
      </button>

      <button *ngIf="students._id" mat-button class="save-button" [disabled]="studentsForm.invalid"
        aria-label="SAVE" (click)="onsaveEdit(studentsForm)">
        SAVE
      </button>
    </div>
  </mat-card-actions>

</mat-card>